In [2]:
#Importamos los paquetes y modulos necesarios 

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
#  1- Cargamos el DataSet llamado Model_creditoPersonal.csv 
#  2- Mostramos su contenido 
#  3- Preparamos los datos 

ruta_archivo = "/Users/fredmulato/Desktop/Model_creditoPersonal.csv"

In [4]:
df_creditos = pd.read_csv(ruta_archivo)

In [5]:
df_creditos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [6]:
#Como podemos verificar el DataFrame tiene 5000 datos de los cuales hay cero nulos.

In [7]:
#Vemos el contenido del DataFrame

df_creditos

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [8]:
#Comenzamos con la prepracion de los datos (Data Cleaning)


#Primero renombramos las columnas para una mejor comprensiÃ³n tanto del analista de datos como para posibles consultores 

df_creditos.rename(columns={ 
    "ID": "ID del Cliente", 
    "Age": "Edad del Cliente",
    "Experience":"AÃ±os Experiencia", 
    "Income":"Ingresos Anual",  
    "ZIP Code":"Codigo Postal", 
    "Family":"Miembros Familia",
    "CCAvg":"Promedio Gasto TDC", 
    "Education": "Nivel de EducaciÃ³n",
    "Mortgage": "Valor de Hipoteca",
    "Personal Loan":"Cliente ACCA",
    "Securities Account": "Cliente con Cuenta", 
    "CD Account": "Cliente con Deposito", 
    "Online":"Cliente Digital",
    "CreditCard": "Cliente con TDC"}, inplace=True)

df_creditos

,ID del Cliente,Edad del Cliente,AÃ±os Experiencia,Ingresos Anual,Codigo Postal,Miembros Familia,Promedio Gasto TDC,Nivel de EducaciÃ³n,Valor de Hipoteca,Cliente ACCA,Cliente con Cuenta,Cliente con Deposito,Cliente Digital,Cliente con TDC
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,92697,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,92037,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,93023,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,90034,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,92612,3,0.8,1,0,0,0,0,1,1

In [9]:
# ExplicaciÃ³n de cada columna
'''
ID del Cliente: NÃºmero asignado al cliente
Edad del cliente: Edad del cliente en aÃ±os 
AÃ±os Experiencia: AÃ±os de experiencia laboral
Ingresos Anual: Ingresos anual en dolares 
Codigo Postal: Codigo postal de su residencia
Miembros Familia: NÃºmero de miembre de la familia
Promedio Gasto TDC: Gasto promedio mensual en tarjeta de credito en dolares
Nivel de EducaciÃ³n: Nivel de educacion del cliente (1: No graduado, 2: Graduado, 3: Profesional)
Valos de Hipoteca: Monto de la deuda en credito hipotecacio en dolares 
Cliente ACCA: Cliente aceptÃ³ credito en capaÃ±a anterior 
Cliente Cuenta: Cliente tiene una cuenta con activos financieros con el banco 
Cliente con Deposito: El cliente tine una cuenta certificada de deposito en el banco
Cliente Digital: Cliente usa medios por internet 
Cliente con TDC: El cliente tiene otra tarjeta de credito de otro banco

''';

In [10]:
# Transformamos el contendio de cada columna para mayor comprensiÃ³n

In [11]:
#Multiplicamos por 1000 las columnas Ingresos Anual, Promedio Gasto TDC y Valor de Hipoteca  para ver su valor real 

df_creditos["Ingresos Anual"]= df_creditos["Ingresos Anual"]*1000
df_creditos["Promedio Gasto TDC"]= (df_creditos["Promedio Gasto TDC"]*1000).astype(int)
df_creditos["Valor de Hipoteca"]= (df_creditos["Valor de Hipoteca"]*1000).astype(int)

df_creditos

,ID del Cliente,Edad del Cliente,AÃ±os Experiencia,Ingresos Anual,Codigo Postal,Miembros Familia,Promedio Gasto TDC,Nivel de EducaciÃ³n,Valor de Hipoteca,Cliente ACCA,Cliente con Cuenta,Cliente con Deposito,Cliente Digital,Cliente con TDC
0,1,25,1,49000,91107,4,1600,1,0,0,1,0,0,0
1,2,45,19,34000,90089,3,1500,1,0,0,1,0,0,0
2,3,39,15,11000,94720,1,1000,1,0,0,0,0,0,0
3,4,35,9,100000,94112,1,2700,2,0,0,0,0,0,0
4,5,35,8,45000,91330,4,1000,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40000,92697,1,1900,3,0,0,0,0,1,0
4996,4997,30,4,15000,92037,4,400,1,85000,0,0,0,1,0
4997,4998,63,39,24000,93023,2,300,3,0,0,0,0,0,0
4998,4999,65,40,49000,90034,3,500,2,0,0,0,0,1,0
4999,5000,28,4,83000,92612,3,800,1,0,0,0,0,1,1

In [12]:
# Tranformamos el contenido de las columnas: Nivel de EducaciÃ³n, Cliente ACCA, Cliente con Cuenta, Cliente con Deposito, Cliente Digital y Cliente con TDC; de nÃºmeros a verlos con su valor en letras para ser mas comprensivo.

In [13]:
mapeo_nivel_educativo = {
    1: "No graduado",
    2: "Graduado",
    3: "Profesional"
}

df_creditos["Nivel de EducaciÃ³n"] = df_creditos["Nivel de EducaciÃ³n"].map(mapeo_nivel_educativo)

In [14]:
mapeo_cliente_acca = {
    0: "No",
    1: "Si"
}

df_creditos["Cliente ACCA"]=df_creditos["Cliente ACCA"].map(mapeo_cliente_acca)

In [15]:
mapeo_cliente_cuenta = {
    0: "No",
    1: "Si"
}

df_creditos["Cliente con Cuenta"]= df_creditos["Cliente con Cuenta"].map(mapeo_cliente_cuenta)

In [16]:
mapeo_cliente_deposito = {
    0: "No",
    1: "Si"
}

df_creditos["Cliente con Deposito"]= df_creditos["Cliente con Deposito"].map(mapeo_cliente_deposito)

In [17]:
mapeo_cliente_digital = {
    0: "No",
    1: "Si"
}

df_creditos["Cliente Digital"]=df_creditos["Cliente Digital"].map(mapeo_cliente_digital)

In [18]:
mapeo_cliente_TDC = {
    0:"No",
    1 : "Si"
}

df_creditos["Cliente con TDC"]=df_creditos["Cliente con TDC"].map(mapeo_cliente_TDC)

In [19]:
#Vemos el contenido

df_creditos

,ID del Cliente,Edad del Cliente,AÃ±os Experiencia,Ingresos Anual,Codigo Postal,Miembros Familia,Promedio Gasto TDC,Nivel de EducaciÃ³n,Valor de Hipoteca,Cliente ACCA,Cliente con Cuenta,Cliente con Deposito,Cliente Digital,Cliente con TDC
0,1,25,1,49000,91107,4,1600,No graduado,0,No,Si,No,No,No
1,2,45,19,34000,90089,3,1500,No graduado,0,No,Si,No,No,No
2,3,39,15,11000,94720,1,1000,No graduado,0,No,No,No,No,No
3,4,35,9,100000,94112,1,2700,Graduado,0,No,No,No,No,No
4,5,35,8,45000,91330,4,1000,Graduado,0,No,No,No,No,Si
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40000,92697,1,1900,Profesional,0,No,No,No,Si,No
4996,4997,30,4,15000,92037,4,400,No graduado,85000,No,No,No,Si,No
4997,4998,63,39,24000,93023,2,300,Profesional,0,No,No,No,No,No
4998,4999,65,40,49000,90034,3,500,Graduado,0,No,No,No,Si,No
4999,5000,28,4,83000,92612,3,800,No graduado,0,No,No,No,Si,Si

In [20]:
# Creamos nuevas columnas que sean de interes para el analisis

In [21]:
# Creamos la columna Ingresos Mensual para ver el detalle de los ingresos por mes 

df_creditos["Ingresos Mensual"] = (df_creditos["Ingresos Anual"]/12).astype(int)

In [22]:
# Creamos la columna Tipo de Cliente segmentandolos por los ingresos mensuales 

def clasificar_cliente(ingresos):
    if ingresos <= 1000:
        return "Clientes BÃ¡sicos"
    elif 1001 <= ingresos <= 4999:
        return "Banca Personal"
    elif 5000 <= ingresos <= 10000:
        return "Clientes Preferencial"
    elif ingresos > 10001:
        return "Clientes Oro"
    else:
        return "Sin Asignar"
    
df_creditos["Tipo de Cliente"]= df_creditos["Ingresos Mensual"].apply(clasificar_cliente)

In [23]:
# Creamos la columna Cartera Edad para segmentar a los clientes segÃºn su Edad

def clasificar_edad(edad):
    if 18 <= edad <= 30:
        return "Cartera Joven"
    elif 31 <= edad <= 45:
        return "Adulto y Familias"
    elif 46 <= edad <= 60:
        return "Adultos Consolidados"
    elif edad > 60:
        return "Jubilados y Adultos Mayores"
    else:
        return "No Asignado"

df_creditos["Cartera Por Edad"] = df_creditos["Edad del Cliente"].apply(clasificar_edad)

In [24]:
# Vemos el contenido

df_creditos

,ID del Cliente,Edad del Cliente,AÃ±os Experiencia,Ingresos Anual,Codigo Postal,Miembros Familia,Promedio Gasto TDC,Nivel de EducaciÃ³n,Valor de Hipoteca,Cliente ACCA,Cliente con Cuenta,Cliente con Deposito,Cliente Digital,Cliente con TDC,Ingresos Mensual,Tipo de Cliente,Cartera Por Edad
0,1,25,1,49000,91107,4,1600,No graduado,0,No,Si,No,No,No,4083,Banca Personal,Cartera Joven
1,2,45,19,34000,90089,3,1500,No graduado,0,No,Si,No,No,No,2833,Banca Personal,Adulto y Familias
2,3,39,15,11000,94720,1,1000,No graduado,0,No,No,No,No,No,916,Clientes BÃ¡sicos,Adulto y Familias
3,4,35,9,100000,94112,1,2700,Graduado,0,No,No,No,No,No,8333,Clientes Preferencial,Adulto y Familias
4,5,35,8,45000,91330,4,1000,Graduado,0,No,No,No,No,Si,3750,Banca Personal,Adulto y Familias
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40000,92697,1,1900,Profesional,0,No,No,No,Si,No,3333,Banca Personal,Cartera Joven
4996,4997,30,4,15000,92037,4,400,No graduado,85000,No,No,No,Si,No,1250,Banca Personal,Cartera Joven
4997,4998,63,39,24000,93023,2,300,Profesional,0,No,No,No,No,No,2000,Banca Personal,Jubilados y Adultos Mayores
4998,4999,65,40,49000,90034,3,500,Graduado,0,No,No,No,Si,No,4083,Banca Personal,Jubilados y Adultos Mayores
4999,5000,28,4,83000,92612,3,800,No graduado,0,No,No,No,Si,Si,6916,Clientes Preferencial,Cartera Joven

In [25]:
# Ordenamos las columnas segÃºn el interes del analista 

nuevo_orden = [
    "ID del Cliente",
    "Edad del Cliente",
    "Cartera Por Edad",
    "AÃ±os Experiencia", 
    "Ingresos Anual", 
    "Ingresos Mensual", 
    "Tipo de Cliente", 
    "Nivel de EducaciÃ³n", 
    "Codigo Postal", 
    "Miembros Familia", 
    "Promedio Gasto TDC", 
    "Valor de Hipoteca",
    "Cliente con TDC",
    "Cliente ACCA", 
    "Cliente con Cuenta", 
    "Cliente con Deposito", 
    "Cliente Digital"]

df_creditos = df_creditos[nuevo_orden]

df_creditos

,ID del Cliente,Edad del Cliente,Cartera Por Edad,AÃ±os Experiencia,Ingresos Anual,Ingresos Mensual,Tipo de Cliente,Nivel de EducaciÃ³n,Codigo Postal,Miembros Familia,Promedio Gasto TDC,Valor de Hipoteca,Cliente con TDC,Cliente ACCA,Cliente con Cuenta,Cliente con Deposito,Cliente Digital
0,1,25,Cartera Joven,1,49000,4083,Banca Personal,No graduado,91107,4,1600,0,No,No,Si,No,No
1,2,45,Adulto y Familias,19,34000,2833,Banca Personal,No graduado,90089,3,1500,0,No,No,Si,No,No
2,3,39,Adulto y Familias,15,11000,916,Clientes BÃ¡sicos,No graduado,94720,1,1000,0,No,No,No,No,No
3,4,35,Adulto y Familias,9,100000,8333,Clientes Preferencial,Graduado,94112,1,2700,0,No,No,No,No,No
4,5,35,Adulto y Familias,8,45000,3750,Banca Personal,Graduado,91330,4,1000,0,Si,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,Cartera Joven,3,40000,3333,Banca Personal,Profesional,92697,1,1900,0,No,No,No,No,Si
4996,4997,30,Cartera Joven,4,15000,1250,Banca Personal,No graduado,92037,4,400,85000,No,No,No,No,Si
4997,4998,63,Jubilados y Adultos Mayores,39,24000,2000,Banca Personal,Profesional,93023,2,300,0,No,No,No,No,No
4998,4999,65,Jubilados y Adultos Mayores,40,49000,4083,Banca Personal,Graduado,90034,3,500,0,No,No,No,No,Si
4999,5000,28,Cartera Joven,4,83000,6916,Clientes Preferencial,No graduado,92612,3,800,0,Si,No,No,No,Si